@import 'ant-design-vue/dist/antd.less';

#app {
    height: 100%;
}

// modal style

.modal-icon-warning {
    color: @warning-color  !important;
}

.modal-icon-success {
    color: @success-color  !important;
}

.modal-icon-error {
    color: @error-color  !important;
}

.modal-icon-info {
    color: @primary-color  !important;
}